.booking-form {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding-bottom: 2em
}

input {
    width: 15em;
    height: 1.5em
}
.btn{
    background-color: teal;
    height: 3.5vh;

    border: 2px solid yellow;
    width: 10vw;
    color: white
}